# macOS
.DS_Store

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring config
src/main/resources/application.properties

# Node/npm
frontend/node_modules/
frontend/package-lock.json

# Logs
*.log

# System files
Thumbs.db
ehthumbs.db
